[submodule "lib/aws-lib"]
	path = lib/aws-lib
	url = https://github.com/mirkok/aws-lib.git
[submodule "lib/choreographer"]
	path = lib/choreographer
	url = https://github.com/laughinghan/choreographer.git
[submodule "lib/simpledb"]
	path = lib/simpledb
	url = https://github.com/rjrodger/simpledb.git
[submodule "lib/sax"]
	path = lib/sax
	url = https://github.com/isaacs/sax-js.git
[submodule "lib/xml2js"]
	path = lib/xml2js
	url = https://github.com/maqr/node-xml2js.git
[submodule "lib/Nodemailer"]
	path = lib/Nodemailer
	url = https://github.com/andris9/Nodemailer.git
