{
"port": 8081,
"username": "user",
"password": "pass",
"ldap": {
	"host": "hostname",
	"port": 389
}
"aws_keys": [
	{ "name": "DEV", "keys": { "key": "keyForTheDevEnvironment", "secretKey": "aSecretKeyForTheDevEnvironment" } },
	{ "name" : "TEST", "keys": { "key": "keyForTheTestEnvironment", "secretKey": "aSecretKeyForTheTestEnvironment" } },
	{ "name" : "PROD", "keys": { "key": "KeyForTheProdEnvironment", "secretKey": "aSecretKeyForTheProdEnvironment" } }
],
"aws_simpledb_key":"aSimpleDbKeyThatCouldBeTheSameAsAbove",
"aws_simpledb_secret_key":"aSimpleDbSecretKeyThatCouldBeTheSameAsAbove",
"email": {
	"smtp": "smtp.gmail.com",
	"port": 465,
	"ssl": true,
	"use_auth": true,
	"user": "sample@gmail.com",
	"pass": "7r1cky"
}
}
